{% extends "base.html" %}

{% block content %}
<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for address in addresses %}
    <tr>
      <td>{{ address.name }}</td>
      <td>{{ address.address }}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
      <td>{{address.zipcode}}</td>
      <td><a href="{{ url_for('delete', id=address.id) }}"><button type="button" class="btn btn-sm btn-danger">X</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}